<div class="container">
  <form id="register-form" action="/users" method="post">
    <label for="users[:username]">Username: </label>
    <input type="text" name="users[:username]">
    <label for="users[:password]">Password: </label>
    <input type="text" name="users[:password]">
    <label for="users[:first_name]">First Name: </label>
    <input type="text" name="users[:first_name]">
    <label for="users[:last_name]">Last Name:</label>
    <input type="text" name="users[:last_name]">
    <input type="submit" value="Register">
  </form>
</div>
