<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  normalize.css removes cross-browser differences in defaults, e.g.,
  differences in how form elements appear between Firefox and IE
  See: http://necolas.github.com/normalize.css/
-->
<link rel="stylesheet" href="/css/normalize.css">
<!--
application.css is where you put your styles
-->
<link rel="stylesheet" href="/css/application.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/application.js"></script>
<script src="/js/bootstrap.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title>goFundme</title>
</head>

<body>
  <navbar>
    <a href="/"><span id="go">go</span><span id="fund">Fund</span><span id="me">me</span></a>
    <div class="dropdown pull-right">
      <a href="/"><span id="fundraiser">start a fundraiser</span></a>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="/users/new">Register</li></a>
        <li><a href="/sessions/new">Login</li></a>
        </ul>
      </div>
    </navbar>
    <%= yield %>
  </body>
  </html>
